tr {
  background-color: aliceblue;
  height: 150px;
}
td {
  width: 150px;
}

tr:first-child td:first-child {
  vertical-align: top;
}

tr:nth-child(2) td:last-child {
  vertical-align: bottom;
  text-align: right;
}

.text_center {
  text-align: center;
}
