.main {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTable {
  width: 40%;
  margin: 20px auto;
}

.mainTable_row {
  display: flex;
  border-left: 1px solid rebeccapurple;
  background-color: bisque;
}

.mainTable_Head {
  text-align: center;
  border-top: 1px solid rebeccapurple;
  border-right: 1px solid rebeccapurple;
  border-bottom: 1px solid rebeccapurple;
  width: 100%;
  background-color: rgb(180, 235, 235);
}

.mainTable_contain {
  border-bottom: 1px solid rebeccapurple;
  border-right: 1px solid rebeccapurple;
  text-align: center;
}

.mainTable_row:nth-child(n + 2):hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mainTable_contain:hover {
  transition: color 1s ease-in;
  color: blueviolet;
  cursor: wait;
}

.main_2 {
  display: flex;
  justify-content: space-between;
}
